/*
 * Define a list of colors
 */
$black-color: #000;
$white-color: #fff;
$green-color: #4cb521;
$red-color: #ed4750;
$yellow-color: #ffdf39;
$grey-color: #e7e7e7;
$dark-grey-color : #999999;
$blue-color: #4a90e2;

/*
 * Define a list of font color
 */
$primary-font-color: #434343;
$desc-font-color: #9B9B9B;
$info-font-color: #8A8A8A;

/*
 * Define page size measures
 */
$header-height: 2.5rem;
$text-header-height: 3rem;
$footer-height: 2.5rem;